@model IEnumerable<Rental4You.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    var clients= new List<string>();
    var makers= new List<string>();
    var categories = new List<string>();
    

    clients.Add("All clients");
    makers.Add("All makers");
    categories.Add("All categories");


    foreach (var c in Model)
    {
        if (clients.Contains(c.Client.UserName))
            continue;

        clients.Add(c.Client.UserName);  
    }

    foreach (var m in Model)
    {
        if (makers.Contains(m.Car.Maker))
            continue;

        makers.Add(m.Car.Maker);
    }

    foreach(var c in Model)
    {
        if (categories.Contains(c.Car.Type))
          continue;
        categories.Add(c.Car.Type);
    }
}

<h1>All Reservations</h1>

<div class="row" style="margin-left: 10px">
    <div style="margin-left: 2px; margin-right: 5px"></div>
      <form asp-action="GetDate" method="get">
         <label for="sort">Pickup Date: </label>
        <input type="datetime-local" name="pickUpdate" />
          <label for="sort">Return Date: </label>
        <input type="datetime-local" name="returnDate" />
        <input name="btnSubmeter" asp-controller="Reservations" asp-action="GetDate" type="submit" value="Search" />
      </form>

    <div style="border-right: 1px solid #000; margin-left: 10px; margin-right: 10px"></div>
    <form asp-action="GetCategories" method="get">
            <label for="sort">Car category: </label>
            <select name="requirement">
                 @foreach (var c in categories)
                 {
                    <option value="@c">@c</option>
                 }
            </select>
        <input name="btnSubmeter" asp-controller="Reservations" asp-action="GetCategories" type="submit" value="Search" />
        </form>

    <div style="border-right: 1px solid #000; margin-left: 10px; margin-right: 10px"></div>
        <form asp-action="GetMaker" method="get">
            <label for="sort">Car Maker: </label>
            <select name="maker">
                  @foreach(var c in makers)
                  {
                  <option value="@c">@c</option>
                  }
            </select>
        <input name="btnSubmeter" asp-controller="Reservations" asp-action="GetMaker" type="submit" value="Search" />
        </form>

    <div style="border-right: 1px solid #000; margin-left: 10px; margin-right: 10px"></div>
        <form asp-action="GetClients" method="get">
            <label for="sort">Clients: </label>
        <select name="client">
                @foreach(var c in clients)
                {
                    <option value="@c">@c</option>
                }
            </select>
            <input name="btnSubmeter" asp-controller="Reservations" asp-action="GetClients" type="submit" value="Search" />
        </form>
</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                Car Image
            </th>
            <th>
                Company
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Maker) @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @if (Directory.EnumerateFiles("wwwroot\\uploads\\cars\\" + item.CarId).Count() > 0)
                {
					List<string> imgPaths = new List<string>();
                    imgPaths = Directory.EnumerateFiles("wwwroot\\uploads\\cars\\" + item.CarId).ToList();
                    string img = imgPaths[0];
                    img = img.Replace("wwwroot", "");
                    <img src="@img" class="img rounded d-flex align-items-end" width=200/>
                }
                else
                {
                    <img src="~/images/car-1.jpg" class="img rounded d-flex align-items-end" width=500/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) <span class=" icon-euro_symbol">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                @if(!User.IsInRole("Admin")){
                    @if(!item.Confirmed){
                        <a asp-action="confirmReservation" asp-route-id="@item.Id" class="btn-success btn">Confirm</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn">Delete</a>
                    }
                }
                <a asp-action="Details" asp-route-id="@item.Id" class="btn-primary btn">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
