@model IEnumerable<Rental4You.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>My Reservations</h1>

@if(!User.IsInRole("Client")){
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                Image
            </th>
            <th>
                Company
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Maker) @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @if (Directory.Exists("wwwroot\\uploads\\cars\\" + item.CarId))
                {
					List<string> imgPaths = new List<string>();
                    imgPaths = Directory.EnumerateFiles("wwwroot\\uploads\\cars\\" + item.CarId).ToList();
                    string img = imgPaths[0];
                    img = img.Replace("wwwroot", "");
                    <img src="@img" class="img rounded d-flex align-items-end" width=200/>
                }
                else
                {
                    <img src="~/images/car-1.jpg" class="img rounded d-flex align-items-end" width=500/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
