@model IEnumerable<Rental4You.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Ours Cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">@Html.DisplayFor(modelItem => item.Maker)</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            <small class="text-muted fw-light"></small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>
                                Model:
                                @Html.DisplayFor(modelItem => item.Model)
                            </li>
                            <li>
                                Location:
                                @Html.DisplayFor(modelItem => item.Location)
                            </li>
                            <li>
                                Km:
                                @Html.DisplayFor(modelItem => item.Km)
                            </li>
                            <li>
                                State:
                                @Html.DisplayFor(modelItem => item.state)
                            </li>
                        </ul>
                        <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id" type="button" class="w-100 btn btn-lg btn-outline-primary">
                            Saber
                            mais
                        </a>
                        <a asp-controller="Cars" asp-action="Edit" asp-route-id="@item.Id" type="button" class="w-100 btn btn-lg btn-outline-primary">
                            Edit Car
                        </a>
                        <a asp-controller="Cars" asp-action="Delete" asp-route-id="@item.Id" type="button" class="w-100 btn btn-lg btn-outline-primary">
                            Delete Car
                        </a>
                    </div>
                </div>
            </div>
        }
</div>

 </tbody>
</table>
