@model IEnumerable<Rental4You.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<html>
<body>

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Cars <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Choose Your Car</h1>
                </div>
            </div>
        </div>
    </section>



    <section class="ftco-section bg-light">
        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
        {
            <h3 style="margin-left: 20px"><a asp-action="Create" asp-controller="Cars">New Car</a></h3>
        }
        <div class="row" style="margin-left: 20px">
            <form asp-action="GetProducts" method="get" >
                <label for="sort">Price: </label>
                <select id="sort" name="sort">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
                <input name="btnSubmeter" asp-controller="Cars" asp-action="GetProducts" type="submit" value="Search" />
            </form>
            <div style="border-right: 1px solid #000; margin-left: 10px; margin-right: 10px"></div>
            <form asp-action="OrderByRating" method="get">
                <label for="sort">Company rating: </label>
                <select name="requirement">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
                <input name="btnSubmeter" asp-controller="Cars" asp-action="OrderByRating" type="submit" value="Search" />
            </form>
            <div style="border-right: 1px solid #000; margin-left: 10px; margin-right: 10px"></div>
            <form asp-action="GetCategories" method="get">
                <label for="sort">Car category: </label>
                <select name="requirement">
                    <option value="all">All cars</option>
                    <option value="sports">Sports</option>
                    <option value="suv">SUV</option>
                </select>
                <input name="btnSubmeter" asp-controller="Cars" asp-action="GetCategories" type="submit" value="Search" />
            </form>
            <div style="border-right: 1px solid #000; margin-left: 10px; margin-right: 10px"></div>
            <form asp-action="GetFuel" method="get">
                <label for="sort">Car fuel: </label>
                <select name="requirement">
                    <option value="all">All cars</option>
                    <option value="oil">Oil</option>
                    <option value="gas">Gas</option>
                    <option value="electric">Electric</option>
                    <option value="hybrid">Hybrid</option>
                </select>
                <input name="btnSubmeter" asp-controller="Cars" asp-action="GetFuel" type="submit" value="Search" />
            </form>
        </div>
        <div class="container" style="margin-top: 20px">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-4">
                        <div class="car-wrap rounded ftco-animate fadeInUp ftco-animated">
                            <div>
                                @if (Directory.Exists("wwwroot\\uploads\\cars\\" + item.Id))
                                {
                                    List<string> imgPaths = new List<string>();
                                    imgPaths = Directory.EnumerateFiles("wwwroot\\uploads\\cars\\" + item.Id).ToList();
                                    string img = imgPaths[0];
                                    img = img.Replace("wwwroot", "");
                                    <img src="@img" class="img rounded d-flex align-items-end"/>
                                }
                                else
                                {
                                    <img src="~/images/car-1.jpg" class="img rounded d-flex align-items-end"/>
                                }
                            </div>
                            <div class="text row">
                                <div class="col">
                                    <h6 class="mb-0">@Html.DisplayFor(modelItem => item.Maker)</h6>
                                    <div class="d-flex mb-3">
                                        <span class="cat">@Html.DisplayFor(modelItem => item.Model)</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <h6 class="mb-0">@Html.DisplayFor(modelItem => item.Company.Name)</h6>
                                    <div class="d-flex mb-3">
                                        <span class="cat">@Html.DisplayFor(modelItem => item.Company.Rating)</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <h6 class="mb-0">@Html.DisplayFor(modelItem => item.price)<span class=" icon-euro_symbol"></span></h6>
                                    <div class="d-flex mb-3">
                                        <span class="cat">per day</span>
                                    </div>
                                </div>

                                <p class="d-flex mb-0 d-block">
                                    <a asp-controller="Reservations" asp-action="Booking" asp-route-id="@item.Id" class="btn btn-primary">Rent</a>
                                    <a asp-controller="Cars" asp-action="Details"  asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                                    @if(User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee")){
                                        <a asp-controller="Cars" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                        <a asp-action="Delete" asp-controller="Cars" asp-route-id="@item.Id" class="btn btn-secondary">Delete</a>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    </body>
</html>