
@model Rental4You.ViewModels.SearchCarViewModel
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@*<h1>Os nossos cursos</h1>
*@


<html>
    <body>

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Cars <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Choose Your Car</h1>
                </div>
            </div>
        </div>
    </section>

@if (!string.IsNullOrEmpty(Model.TextToSearch))
{
    <p>Search result: "@Model.TextToSearch":</p>

    @if (Model.NumberOfResults == 0)
    {
        <p class="alert alert-warning">
                It was not possible
                find cars with the data entered.
                Please review your search
        </p>
    }
}
else
{
        <p>Exist @Model.NumberOfResults Car(s) available</p>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model.ListOfCars)
        {
            <div class="col-md-4">
                <div class="car-wrap rounded ftco-animate fadeInUp ftco-animated">
                    <div>
                        @if (Directory.Exists("wwwroot\\uploads\\cars\\" + item.Id))
                                {
                                    List<string> imgPaths = new List<string>();
                                    imgPaths = Directory.EnumerateFiles("wwwroot\\uploads\\cars\\" + item.Id).ToList();
                                    string img = imgPaths[0];
                                    img = img.Replace("wwwroot", "");
                                    <img src="@img" class="img rounded d-flex align-items-end"/>
                                }
                                else
                                {
                                    <img src="~/images/car-1.jpg" class="img rounded d-flex align-items-end"/>
                                }
                    </div>
                    <div class="text">
                        <h2 class="mb-0">@Html.DisplayFor(modelItem => item.Maker)</h2>
                        <div class="d-flex mb-3">
                            <span class="cat">@Html.DisplayFor(modelItem => item.Model)</span>
                        </div>
                        <p class="d-flex mb-0 d-block">
                            <a asp-controller="Reservations" asp-action="Create" class="btn btn-primary py-2 mr-1">Rent a car</a>
                            <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary py-2 ml-1">Details</a>
                            <a asp-controller="Cars" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary py-2 mr-1">Edit</a>
                            <a asp-action="Delete" asp-controller="Cars" asp-route-id="@item.Id" class="btn btn-secondary py-2 ml-1">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>

</html>
